:root {
  --nav-text-color: #FADCD9;
  --nav-brand-color: #FADCD9;
  --nav-hover-color: #F9AFA6;
  --navbar-bg-color: #C94F51;
  --page-bg-color: #F9F1F0;
  --container-accent-color: #FADCD9;
  --border-accent-color: #F9AFA6;
}

.navbar-custom {
  background-color: var(--navbar-bg-color);
}

.navbar-light {
  color: blue;
}

.navbar-light .navbar-brand {
  font-size: xx-large;
  color: var(--nav-brand-color);
}

.navbar-light .navbar-brand:hover {
  color: var(--nav-hover-color);
}

.navbar-expand .navbar-nav .nav-link {
  font-size: x-large;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--nav-text-color);
}

.navbar-expand .navbar-nav .nav-link:hover {
  color: var(--nav-hover-color);
}

.border-custom {
  border-color: var(--border-accent-color)!important;
}

.rounded-container {
  background-color: var(--container-accent-color);
  border-radius:1rem!important;
}

body {
  background-color: var(--page-bg-color);
}